<div class="restore-password">
  <form class="form-horizontal" name="RestorePasswordForm" novalidate autocomplete="off"
        ng-submit="restorePassword(RestorePasswordForm)" bs-server-validate="{404: 'notFound'}" bs-form-send-once>
    <div class="text-center mar-b-50 gray-middle-light-text">
      <h4 translate>Password recovery</h4>
    </div>
    <div class="form-group" bs-has-error="RestorePasswordForm.$error.notFound">
      <label for="email" class="col-sm-2">E-mail</label>
      <div class="col-sm-9 captcha-width">
        <input type="email" required class="form-control" id="email" name="email" ng-model="email"
               bs-validate-hint placeholder="{{::'Enter your email' | translate}}"/>
        <p class="errorMessage" ng-if="RestorePasswordForm.$error.notFound">
          {{RestorePasswordForm.$server_error_notFound | translate}}
        </p>
      </div>
    </div>
    <!--<div class="form-group">-->
      <!--<div class="col-sm-9 col-sm-offset-2">-->
        <!--<div class="g-recaptcha" vc-recaptcha key="CONST.lo.recaptcha_site_key"></div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-2 text-center gray-text" translate>
        A message with the password recovery link will be sent to your email address
      </div>
    </div>
    <div class="form-group has-error" ng-if="RestorePasswordForm.$error.unclassified">
      <div class="col-sm-offset-2 col-sm-9">
        <span class="help-block">{{RestorePasswordForm.$server_unclassified}}</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-3">
        <button type="submit" class="btn btn-primary btn-block" ng-disabled="RestorePasswordForm.$invalid" translate>Send</button>
      </div>
    </div>
  </form>
</div>
