<ul class="nav navbar-nav">
  <li class="dropdown" dropdown on-toggle="toggled(open)" is-open="isOpen[1]">
    <a href="#" class="dropdown-toggle" dropdown-toggle>
      <span>{{langShortNames[currentLang]}}</span>
      <i class="fa fa-angle-down fa-lg pad-l-10"></i>
    </a>
    <ul class="dropdown-menu narrow" role="menu">
      <li ng-repeat="(lang, name) in ::langs" ng-if="::currentLang !== lang"><a href="#" ng-click="setLang(lang)">{{::langShortNames[lang]}}</a></li>
    </ul>
  </li>

  <li class="dropdown" dropdown on-toggle="toggled(open)" is-open="isOpen[2]">
    <a href="#" class="dropdown-toggle" dropdown-toggle>
      {{userInfo.tenantId}}
      <i class="fa fa-angle-down fa-lg pad-l-10"></i>
    </a>
    <ul class="dropdown-menu dd-right wide" role="menu">
      <li><a ui-sref="signout" translate>Sign out</a></li>
    </ul>
  </li>
</ul>
