<div ng-show="isActive(2)">
  <div ui-view="private-contacts"></div>
  <div ui-view="entity-contacts"></div>

  <div class="form-group has-error" ng-if="NewCustomerForm.$error.unclassified">
    <div class="fixed-offset col-sm-9">
      <span class="help-block">{{NewCustomerForm.$server_unclassified}}</span>
    </div>
  </div>

  <div class="form-group mar-t-30">
    <div class="col-xs-9 offset-buttons btn-row">
      <div class="col-xs-6">
        <button type="submit" class="btn btn-primary btn-block" ng-disabled="NewCustomerForm.$invalid" translate>Save</button>
      </div>
      <div class="col-xs-6">
        <button type="button" class="btn btn-default btn-block" ng-click="finish()" translate>Cancel</button>
      </div>
    </div>
  </div>
</div>
