<div class="row auth">
  <div ng-hide="isValid">
    <div class="text-center mar-b-40 gray-middle-light-text">
      <h4 translate>Password restoration</h4>
    </div>
    <p translate
    >Password recovery data are incorrect, overdue, or were already used. Try to recover your password once again.
    </p>

    <div class="row mar-t-20">
      <div class="col-sm-6 col-sm-offset-3">
        <a type="submit" class="btn btn-primary btn-block" ui-sref="restorePassword" translate>Restore password</a>
      </div>
    </div>
  </div>

  <form class="form-horizontal" name="SetPasswordForm" ng-submit="submit(SetPasswordForm)" novalidate
        bs-server-validate="{400: 'badRequest'}" ng-show="isValid">
    <div class="text-center mar-b-50 gray-middle-light-text">
      <h4 translate>Welcome!</h4>
      <h4 translate>Enter your new password</h4>
    </div>
    <div class="form-group" bs-has-error>
      <label class="col-sm-3 col-sm-offset-1 pad-t-7 text-left" for="password" translate>Password</label>

      <div class="col-sm-6">
        <input type="password" id="password" name="password" ng-model="password" class="form-control" ng-required="true"
               ng-minlength="5" ng-maxlength="256" ng-required="true"
               bs-validate-hint="{minlength: ('Your password should be longer than 5 characters' | translate), maxlength: ('Your password should not exceed 256 characters' | translate)}"
               placeholder="{{::'Enter password' | translate}}">
      </div>
    </div>
    <div class="form-group" bs-has-error>
      <label class="col-sm-3 col-sm-offset-1 pad-t-7 text-left" for="confirmPassword" translate>Repeat</label>

      <div class="col-sm-6">
        <input type="password" id="confirmPassword" name="confirmPassword" bs-match="password" class="form-control"
               ng-model="confirmPassword" ng-required="true" placeholder="{{::'Confirm password' | translate}}">
      </div>
    </div>
    <div class="form-group has-error" ng-if="SetPasswordForm.$error.match">
      <div class="col-sm-8 col-sm-offset-3">
        <span class="help-block" translate>Passwords do not match</span>
      </div>
    </div>

    <div class="form-group has-error" ng-if="SetPasswordForm.$error.unclassified">
      <div class="col-sm-6 col-sm-offset-4">
        <span class="help-block">{{SetPasswordForm.$server_unclassified}}</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-6">
        <button type="submit" class="btn btn-primary btn-block" ng-disabled="SetPasswordForm.$invalid" translate>
          Send
        </button>
      </div>
    </div>
  </form>
</div>
