<fieldset ng-disabled="user.customer_mode != 'test'">

<div class="hr"><span class="white-bg gray-middle-light-text" translate>Personal information</span></div>

<div class="form-group row-vertical-align" bs-has-error>
  <label class="col-sm-3 centered" for="name" translate>First and last name</label>

  <div class="col-sm-9">
    <input type="text" id="name" name="name" class="form-control" bs-validate-hint
           ng-model="user.detailed_info.name"
           placeholder="{{::'Enter your name' |  translate}}">
  </div>
</div>
<div class="form-group row-vertical-align" bs-has-error>
  <label class="col-sm-3 centered" for="birthday" translate>Date of birth</label>

  <div class="col-sm-9">
    <div class="input-grp">
      <input type="text" id="birthday" name="birthday" class="form-control"
           ng-model="user.detailed_info.birthday"
           bs-datepicker data-autoclose="true" data-model-date-format="yyyy-MM-dd" data-date-type="string" bs-validate-hint placeholder="{{::'01.12.1981' |  translate}}">
      <span class="input-group-addon icon-addon"><i class="icon icon-transactions-v2 icon-lg"></i></span>
    </div>
  </div>
</div>

<div class="form-group row-vertical-align" bs-has-error>
  <label class="col-sm-3 centered" for="telephone" translate>Phone</label>

  <div class="col-sm-9">
    <input type="text" id="telephone" name="telephone" class="form-control" ng-model="user.detailed_info.telephone"
           bs-phone-input
           bs-validate-hint
           placeholder="{{::'+7 962 700 400 20' |  translate}}">
  </div>
</div>
<div class="form-group row-vertical-align" bs-has-error>
  <label class="col-sm-3 centered" for="email">E-mail</label>

  <div class="col-sm-9">
    <input type="email" disabled id="email" name="email" class="form-control"
           ng-model="user.email"
           bs-validate-hint
           placeholder="{{::'ivanivanovich@gmail.com' |  translate}}">
  </div>
</div>
<div class="form-group row-vertical-align" bs-has-error>
  <label class="col-sm-3 centered" for="country" translate>Country</label>

  <div class="col-sm-9">
    <div class="select">
      <select id="country" name="country" class="form-control" bs-validate-hint ng-model="user.detailed_info.country">
        <option value="" translate>Select country</option>
        <option ng-repeat="country in ::countries" value="{{::country.code}}"
                ng-selected="::user.detailed_info.country == country.code">{{::country|localizedName}}</option>
      </select>
    </div>
  </div>
</div>
<div class="form-group row-vertical-align" bs-has-error>
  <label class="col-sm-3 centered" for="address" translate>Address</label>

  <div class="col-sm-9">
    <input type="text" id="address" name="address" class="form-control" bs-validate-hint ng-model="user.detailed_info.address"
           placeholder="{{::'Enter an address' |  translate}}">
  </div>
</div>

<div class="form-group row-vertical-align" bs-has-error>
  <label class="col-sm-3 centered" for="passport_series_number" translate>Passport details</label>

  <div class="col-sm-9">
    <input type="text" id="passport_series_number" name="passport_series_number" class="form-control"
           ng-model="user.detailed_info.passport_series_number"
           bs-validate-hint placeholder="{{::'Enter the series and number of your passport' |  translate}}">
  </div>
</div>

<div class="form-group row-vertical-align" bs-has-error>
  <label class="col-sm-3 centered" for="passport_issued_by" translate>Issuing authority</label>

  <div class="col-sm-9">
    <input type="text" id="passport_issued_by" name="passport_issued_by" class="form-control"
           ng-model="user.detailed_info.passport_issued_by" bs-validate-hint
           placeholder="{{::'Enter the name of the department' |  translate}}">
  </div>
</div>

<div class="form-group row-vertical-align" bs-has-error>
  <label class="col-sm-3 centered" for="passport_issued_date" translate>Date of issue</label>

  <div class="col-sm-9">
    <div class="input-grp">
      <input type="text" id="passport_issued_date" name="passport_issued_date" class="form-control"
             ng-model="user.detailed_info.passport_issued_date" bs-datepicker data-autoclose="true"
             data-model-date-format="yyyy-MM-dd" data-date-type="string" bs-validate-hint
             placeholder="{{::'01.12.2011' |  translate}}">
      <span class="input-group-addon icon-addon"><i class="icon icon-transactions-v2 icon-lg"></i></span>
    </div>
  </div>
</div>
</fieldset>
