<div class="g-test-banner" ng-if="userInfo.customer_mode === 'test'">
  <div class="pull-left mar-l-80 text-muted" translate>Test mode</div>
  <div class="pull-right mar-r-30">
    <a ui-sref="production">
      <i class="icon icon-customer icon-bold mar-r-15"></i>
      <span translate>Become a client and get more features</span>
      <i class="fa fa-angle-right mar-l-10"></i>
    </a>
  </div>
</div>
<div class="g-nav-wrapper" ng-class="{'g-test-visible': userInfo.customer_mode === 'test'}" ui-view="sidemenu"></div>
<perfect-scrollbar class="g-mainview" ng-class="{'g-test-visible': userInfo.customer_mode === 'test'}"
                   refresh-on-change="[$state.current.name, windowHeight]" suppress-scroll-x="true">
  <header class="g-header" ui-view="header"></header>
  <div ui-view="main"></div>
</perfect-scrollbar>
