<div class="restore-password">
  <div ng-hide="isValid">
    <div class="text-center mar-b-50 gray-middle-light-text">
      <h4 translate>Password recovery</h4>
    </div>
    <p translate>Password recovery data are incorrect, overdue, or were already used. Try to recover your password once again</p>
    <div class="row mar-t-20">
      <div class="col-sm-6 col-sm-offset-3">
        <a type="submit" class="btn btn-primary btn-block" ui-sref="restorePassword" translate>Recover password</a>
      </div>
    </div>
  </div>
  <form class="form-horizontal" name="RestorePasswordForm" novalidate autocomplete="off" ng-show="isValid"
        ng-submit="restorePassword(RestorePasswordForm)" bs-server-validate="{404: 'notFound'}" bs-form-send-once>
    <div class="text-center mar-b-50 gray-middle-light-text">
      <h4 translate>Welcome!</h4>
      <h4 translate>Enter your new password</h4>
    </div>
    <div class="form-group mar-t-30" bs-has-error>
      <label for="password" class="col-sm-3" translate>Password</label>
      <div class="col-sm-7">
        <input type="password" required class="form-control input-lg" id="password" name="password" ng-model="password"
               bs-validate-hint
               bs-strong-password-validator="score"/>
      </div>
      <div class="col-sm-7 col-sm-offset-3">
        <div class="password-strength" ng-class="'password-strength-' + score">
          <span></span><span></span><span></span><span></span>
        </div>
      </div>
    </div>

    <div class="form-group" bs-has-error>
      <label for="passwordAgain" class="col-sm-3" translate>Confirm</label>
      <div class="col-sm-7">
        <input type="password" required class="form-control input-lg" id="passwordAgain" name="passwordAgain"
               ng-model="passwordAgain" placeholder="{{::'Repeat a password' |  translate}}" bs-match="password" bs-validate-hint="{match: ('Passwords must match' | translate)}"/>
      </div>
    </div>
    <div class="form-group has-error" ng-if="RestorePasswordForm.$error.unclassified">
      <div class="col-sm-offset-3 col-sm-7">
        <span class="help-block">{{RestorePasswordForm.$server_unclassified}}</span>
      </div>
    </div>
    <div class="form-group mar-t-30">
      <div class="col-sm-7 col-sm-offset-3">
        <button type="submit" class="btn btn-primary btn-block" ng-disabled="RestorePasswordForm.$invalid" translate>Send</button>
      </div>
    </div>
  </form>
</div>
